@model IEnumerable<SW_Ecommerce.Models.VendaFinal>

@{
    ViewBag.Title = "Final";
}

<h2>Finalizar compra</h2>


<table class="table">
    <tr>
        <th>
            Id Venda
        </th>
        <th>
            Nome Produto
        </th>
        <th>
            Quantidade
        </th>
        <th>
            Valor
        </th>
        <th>
            Promoção
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.venda.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venda.produto.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promocao)
            </td>
        </tr>
    }
</table>



